#Navbar {
	background-color: rgba(255, 255, 255, 1);
	/* border-bottom: 1px solid rgba(0, 0, 0, 0.15); */
	width: 100%;
	top: 0;
	position: absolute;
	font-weight: bold;
	z-index: 10;
	box-sizing: border-box;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.nav-wrapper {
	display: flex;
	align-items: center;
}

.banner {
	display: flex;
	align-items: center;
	/* flex-basis: 100%; */
	flex-grow: 2;
}

.banner img {
	height: 45px;
	border-radius: 100%;
	box-shadow: 0px 0px 5px #3d3d3d;
}

.banner-lg,
.banner-sm {
	margin-left: 10px;
	font-size: 1.5em;
}

.banner-lg small {
	font-size: 0.8rem;
	padding: 0;
	display: block;
	color: #7a7a7a;
}

.banner-sm {
	display: none;
}

/* @media (max-width: 768px) {
	.banner-lg {
		display: none;
	}

	.banner-sm {
		display: initial;
	}
} */

@media (max-width: 350px) {
	.banner-lg {
		display: none;
	}

	.banner-sm {
		display: initial;
	}
}

.nav-links {
	margin-left: auto;
	height: 70px;
	display: flex;
	align-items: center;
}

.nav-links ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	margin-left: -10px;
	margin-right: -10px;
	flex-grow: 1;
}

.nav-links li {
	list-style: none;
	margin-left: 10px;
	margin-right: 10px;
}

.nav-links ul a {
	font-weight: bold;
	display: block;
	text-decoration: none;
	color: #555555;
	/* text-shadow: 1px 1px #3d3d3d; */
	border-bottom: 4px solid transparent;
	text-align: center;
	transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.nav-links ul a:hover,
.nav-links ul a.active {
	color: #83a036;
	border-bottom: 4px solid #83a036;
}

.nav-links ul a .fa {
	font-size: 1.2em;
	display: block;
}

.nav-links .hamburger-btn {
	display: none;
	padding: 20px;
	font-size: 1.7rem;
	text-align: center;
	color: #555;
	border: none;
	transition: color 0.3s ease;
	cursor: pointer;
}

@media (max-width: 576px) {
	/* @media (max-width: 768px) { */
	.nav-links ul {
		/* display: none; */
		background-color: rgba(255, 255, 255, 1);
		/* display: flex; */
		position: absolute;
		width: 100%;
		left: 0;
		flex-direction: column;
		border-top: 1px solid rgba(0, 0, 0, 0.15);
		z-index: -1;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 70px;
		top: 0;
		transition: max-height 0.3s ease-in-out;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
		max-height: 0;
		overflow: hidden;
	}

	.nav-links .hamburger-btn {
		display: initial;
	}

	.nav-links.mini-active .hamburger-btn {
		color: #83a036;
	}

	.nav-links.mini-active ul {
		max-height: 500px;
	}

	.nav-links ul li {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	}

	.nav-links ul li a {
		display: block;
		text-align: left;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 15px;
		border-bottom: none;
	}

	.nav-links ul li a .fa {
		display: inline-block;
	}

	.nav-links ul li a .fa {
		width: 30px;
		text-align: center;
	}

	.nav-links ul li a:hover,
	.nav-links ul li a.active {
		color: #83a036;
		border-bottom: none;
	}
}
